<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumer_Key</key>
	<string>LexFEjR1Cd9zXnlx9W4kiEHeQ</string>
	<key>consumer_Secret</key>
	<string>6xCI3obprwT7fQ9OKXdwehiXLlCpeG0Pu9bTzNFnAlzZx8KUgE</string>
</dict>
</plist>
